$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

.brackets {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding-bottom: 1.25rem;

    @media (min-width: $breakpoint-sm) {
        flex-direction: row;
        font-size: 14px;
    }

    @media (min-width: $breakpoint-md) {
        font-size: 15px;
    }

    @media (min-width: $breakpoint-lg) {
        font-size: 16px;
    }

    .bracket-round {
        display: block;
        margin-left: -3px;
        flex: 1;
    }

    .bracket-round-title {
        color: #5cc3ff;
    }

    .bracket-list {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        justify-content: center;
        height: 100%;
        min-height: 100%;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;

        @media (max-width: $breakpoint-xs) {
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }

        @media (min-width: $breakpoint-sm) {
            margin-bottom: 0;
            padding-bottom: 0;
            border-right: 0px dashed #e5e5e5;
            border-bottom: 0;
        }
    }

    .bracket-item {
        display: flex;
        flex: 0 1 auto;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        padding: 1% 0;
        width: 49%;
        transition: padding 0.2s linear;

        .row {
            margin-right: 0;
            margin-left: 0;
        }

        @media (max-width: $breakpoint-xs) {
            width: 100%;
        }

        @media (min-width: $breakpoint-sm) {
            padding: 0.5rem 1rem;
            // flex-grow: 2;
            width: 100%;
        }

        @media (min-width: $breakpoint-lg) {
            padding: 0.5rem 1rem;
        }
    }

    .bracket-match {
        width: 100%;
        background-color: rgba(5, 10, 25, 0.8);
        padding: 1rem;
        border: 0px solid transparent;
        border-radius: 0.1rem;
        outline: none;
        cursor: pointer;
        transition: padding 0.2s ease-in-out, border 0.2s linear;

        @media (max-width: $breakpoint-xs) {
            padding: 0.75rem 0.5rem;
        }
    }
}
