footer {
    color: #bbbbbb;
    background: -moz-linear-gradient(left, rgba(5, 10, 25, 0) 0%, rgba(5, 10, 25, 0.75) 35%, rgba(5, 10, 25, 0.75) 65%, rgba(5, 10, 25, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(5, 10, 25, 0) 0%, rgba(5, 10, 25, 0.75) 35%, rgba(5, 10, 25, 0.75) 65%, rgba(5, 10, 25, 0) 100%);
    background: linear-gradient(to right, rgba(5, 10, 25, 0) 0%, rgba(5, 10, 25, 0.75) 35%, rgba(5, 10, 25, 0.75) 65%, rgba(5, 10, 25, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00050a19', endColorstr='#00050a19', GradientType=1);
}

footer a {
    color: #dddddd;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
    text-decoration: none;
}
