#introduction {
    color: #ffffff;
    height: 100vh;
    display: flex;
    box-sizing: content-box;
    background-image: url("/img/bg_logo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

    .introduction-top {
        position: absolute;
        margin: auto;
        width: auto;
        top: 0;
        left: 0;
        right: 0;
    }

    .introduction-header {
        text-align: center;
        padding: 24px 0;
    }

    .introduction-header h1 a,
    .introduction-header h2 a {
        color: #5cc3ff;
        font-size: 3rem;
        font-family: "easports", sans-serif;
    }

    .introduction-header h1 a:hover,
    .introduction-header h2 a:hover {
        color: #bee7ff;
    }

    .introduction-middle {
        position: absolute;
        margin: auto;
        width: auto;
        height: 4rem;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        max-width: 100%;
        max-height: 100%;
    }

    .introduction-bottom {
        position: absolute;
        margin: auto;
        width: auto;
        bottom: 2rem;
        left: 0;
        right: 0;
        padding: 1rem;
    }

    .introduction-bottom a {
        font-size: 1.5rem;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2rem;
    }

    input {
        color: #ffffff;
        background: transparent;
        border: 1px solid #ffffff;
    }

    ::placeholder {
        color: #cccccc;
        opacity: 1;
    }

    :-ms-input-placeholder,
    ::-ms-input-placeholder {
        color: #cccccc;
    }

    input:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }

    a {
        color: #5cc3ff;
        text-decoration: none;
    }

    a:hover {
        color: #ffffff;
    }

    .btn {
        color: #5cc3ff;
        background: transparent;
        border: 1px solid #5cc3ff;
        width: 16rem;
        transition: color 0.08s ease-in-out, background-color 0.08s ease-in-out,
            border-color 0.08s ease-in-out, box-shadow 0.08s ease-in-out;
    }

    .btn-plus {
        color: #5cc3ff;
        background: transparent;
        border: 1px solid #5cc3ff;
        width: 4rem;
        transition: color 0.08s ease-in-out, background-color 0.08s ease-in-out,
            border-color 0.08s ease-in-out, box-shadow 0.08s ease-in-out;
    }

    .btn-edit {
        color: #5cc3ff;
        background: transparent;
        border: 1px solid #5cc3ff;
        width: 4rem;
        transition: color 0.08s ease-in-out, background-color 0.08s ease-in-out,
            border-color 0.08s ease-in-out, box-shadow 0.08s ease-in-out;
    }

    .btn:hover {
        color: #bee7ff;
        border: 1px solid #bee7ff;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(92, 195, 255, 0.5);
        -moz-box-shadow: 0px 0px 20px 0px rgba(92, 195, 255, 0.5);
        box-shadow: 0px 0px 20px 0px rgba(92, 195, 255, 0.5);
    }

    .plus {
        display: inline-block;
        width: 17px;
        height: 17px;
        margin-bottom: -4px;
        background: linear-gradient(#5cc3ff, #5cc3ff),
            linear-gradient(#5cc3ff, #5cc3ff);
        background-position: center;
        background-size: 100% 1px, 1px 100%;
        background-repeat: no-repeat;
    }

    .btn-plus:hover .plus {
        display: inline-block;
        width: 17px;
        height: 17px;
        margin-bottom: -4px;
        background: linear-gradient(#bee7ff, #bee7ff),
            linear-gradient(#bee7ff, #bee7ff);
        background-position: center;
        background-size: 100% 1px, 1px 100%;
        background-repeat: no-repeat;
    }

    .dropdown-menu {
        color: #cccccc;
        background-color: rgba(0, 0, 0, 0.25);
        border: 0px solid rgba(0, 0, 0, 0.15);
        padding: 0;
        margin: 0;
        border-radius: 0 0 0.25rem 0.25rem;
        text-align: center;
        width: 16rem;
        font-size: 1.1rem;
    }

    .dropdown-item {
        color: #cccccc;
        padding: 0.5rem 1.5rem;
    }

    .dropdown-item:hover,
    .dropdown-item:focus {
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.1em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }

    .dropdown-menu-center {
        right: auto;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .hover {
        color: #000000;
        background: #ffffff;
    }
}
