#main {
    min-height: 100vh;
    // background-color: #1b1e21;
    background-color: rgba(5, 10, 25, 0.8);
    background-image: url(/img/bg3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

    :focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }

    .blinking {
        animation: blinker 2s linear infinite;
    }

    @keyframes blinker {
        50% {
            opacity: 0.75;
        }
    }

    main a {
        color: #dddddd;
        text-decoration: none;
    }

    main a:hover {
        color: #ffffff;
        text-decoration: none;
    }

    main p {
        margin-top: 0;
        margin-bottom: 0.3rem;
    }

    .proceed-link {
        background: #ed2f65;
        background: -moz-linear-gradient(-45deg, #ed2f65 0%, #2bbcff 100%);
        background: -webkit-linear-gradient(-45deg, #ed2f65 0%, #2bbcff 100%);
        background: linear-gradient(135deg, #ed2f65 0%, #2bbcff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed2f65', endColorstr='#2bbcff', GradientType=1);
        padding: 1rem 2rem;
        border-radius: 0.25rem;
    }

    .app-bg {
        background: -moz-linear-gradient(left, rgba(0, 65, 145, 0.95) 0%, rgba(57, 0, 155, 0.95) 100%);
        background: -webkit-linear-gradient(left, rgba(0, 65, 145, 0.95) 0%, rgba(57, 0, 155, 0.95) 100%);
        background: linear-gradient(to right, rgba(0, 65, 145, 0.95) 0%, rgba(57, 0, 155, 0.95) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2004191', endColorstr='#f239009b', GradientType=1);
    }

    .app-border-color {
        border-color: #0056c4 !important;
    }

    .border-dark {
        border-color: #2d3945 !important;
    }

    .card {
        color: #dddddd;
        // background-color: #2a2f33;
        background-clip: border-box;
        border: 0px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        background: rgba(19, 28, 48, 0.95);
        box-shadow: 0 0 3rem rgb(0, 0, 0, 0.6);
    }

    .card-body {
        sup {
            top: -0.7em;
        }

        sub,
        sup {
            position: relative;
            font-size: 70%;
            line-height: 0;
            vertical-align: baseline;
        }

        .badge {
            display: inline-block;
            padding: 0.2em 0.4em;
            font-size: 70%;
            font-weight: bolder;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: 0.2rem;
            -webkit-transition: color 0.15s ease-in-out,
                background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out,
                background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        // .badge-app-color {
        //     color: #000000;
        // }
    }

    .active {
        color: #ffffff;
    }

    .card-header {
        padding: 0;
        margin-bottom: 0;
        /* background-color: rgba(0, 0, 0, 0.03); */
        color: #ffffff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    .card-header .row {
        margin-right: 0;
        margin-left: 0;

        .col-auto {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .card-header .col-left {
        padding: 0.7rem 1.25rem;
    }

    .card-header .control-button {
        display: inline-block;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.1);
        border: none;
        text-decoration: none;
        text-align: center;
        padding: 0.7rem 1rem;
    }

    .card-header .control-button:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .current-competition {
        padding: 0.7rem;
        border-bottom: 1px solid rgb(11, 22, 54);
        background: -moz-linear-gradient(left, rgba(5, 10, 25, 0) 0%, rgba(5, 10, 25, 0.75) 35%, rgba(5, 10, 25, 0.75) 65%, rgba(5, 10, 25, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(5, 10, 25, 0) 0%, rgba(5, 10, 25, 0.75) 35%, rgba(5, 10, 25, 0.75) 65%, rgba(5, 10, 25, 0) 100%);
        background: linear-gradient(to right, rgba(5, 10, 25, 0) 0%, rgba(5, 10, 25, 0.75) 35%, rgba(5, 10, 25, 0.75) 65%, rgba(5, 10, 25, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00050a19', endColorstr='#00050a19', GradientType=1);
    }

    .modal-content {
        background-color: #2a2f33;
    }

    .modal-header {
        border-bottom: none;
    }

    .modal-footer {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2rem;
    }

    button:focus {
        outline: 0px dotted;
        outline: 0px auto -webkit-focus-ring-color;
    }

    input[type="text"],
    input[type="button"],
    input[type="email"],
    input[type="password"],
    textarea {
        color: #dddddd;
        background: transparent;
        border-bottom: 1px solid #cccccc;
    }

    input:focus,
    textarea:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
        border: 1px solid #ffffff;
    }

    input:checked {
        background: rgba(255, 255, 255, 1);
    }

    input[type=radio],
    input[type=checkbox] {
        box-sizing: border-box;
        padding: 0;
        width: 1rem;
        height: 1rem;
    }

    ::placeholder {
        color: #aaaaaa;
        opacity: 1;
    }

    :-ms-input-placeholder,
    ::-ms-input-placeholder {
        color: #aaaaaa;
    }

    .btn {
        padding: 0.375rem 1.75rem;
        border-radius: 0;
    }

    .btn-app {
        color: #dddddd;
        background: #32008a;
        border: 1px solid #5d00ff;
        border-radius: 0.25rem;
    }

    .btn-app:hover {
        color: #ffffff;
        background: #4900c7;
        border: 1px solid #9253ff;
    }

    label {
        height: 13px;
    }

    label:hover {
        cursor: pointer;
    }

    option {
        color: #dddddd;
        background-color: #2a2f33;
    }

    .border-top-grey {
        border-top: 1px solid #535353;
    }

    .border-bottom-grey {
        border-bottom: 1px solid #535353;
    }

    .list-group-item {
        background-color: transparent;
        border: 0px solid rgba(0, 0, 0, 0.125);
        padding: 0.75rem 1.25rem;
    }

    .list-group-item:last-child {
        margin-bottom: 0;
        border-bottom-right-radius: 0rem;
        border-bottom-left-radius: 0.25rem;
    }

    .list-group-item:first-child {
        border-top-right-radius: 0rem;
        border-top-left-radius: 0.25rem;
    }

    .list-group-item-action:focus,
    .list-group-item-action:hover {
        z-index: 1;
        color: #ffffff;
        text-decoration: none;
        background-color: rgba(22, 34, 61, 0.9);
    }

    .nav-pills .nav-link {
        border-radius: 0 0 0.25rem 0.25rem;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: #ffffff;
        text-decoration: none;
        background: -moz-linear-gradient(left, rgba(0, 65, 145, 1) 0%, rgba(57, 0, 155, 1) 100%);
        background: -webkit-linear-gradient(left, rgba(0, 65, 145, 1) 0%, rgba(57, 0, 155, 1) 100%);
        background: linear-gradient(to right, rgba(0, 65, 145, 1) 0%, rgba(57, 0, 155, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2004191', endColorstr='#f239009b', GradientType=1);
    }

    .nav-pills .nav-link:focus,
    .nav-pills .nav-link:hover {
        color: #ffffff;
        text-decoration: none;
        background-color: rgba(22, 34, 61, 0.9);
    }

    .close {
        color: #dddddd;
        text-decoration: none;
    }

    .close:hover {
        color: #ffffff;
    }

    .text-light {
        color: #c5cdd6 !important;
    }

    .text-secondary {
        color: #8995a0 !important;
    }

    .text-secondary:hover,
    a.text-secondary:focus {
        color: #a9b7c5 !important;
    }

    .text-game-currently-being-played {
        color: #b991ff !important;
    }

    .news {
        padding: 1rem;
        border-radius: 0.25rem;

        .news-header {
            font-weight: bold;
        }

        .news-body {
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1.25rem;
        }
    }

    .alert {
        border: 0px solid transparent;
        margin-bottom: 0rem;
        padding: 0.2rem 0rem;
        border-radius: 0rem;
    }

    .alert-danger {
        color: #ff4447;
        background: -moz-linear-gradient(top,
                rgba(155, 31, 33, 0.55) 0%,
                rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(top,
                rgba(155, 31, 33, 0.55) 0%,
                rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to bottom,
                rgba(155, 31, 33, 0.55) 0%,
                rgba(0, 0, 0, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a69b1f21', endColorstr='#00000000', GradientType=0);
    }

    .alert-warning {
        color: #ffc746;
        border-color: transparent;
        background: -moz-linear-gradient(top,
                rgba(114, 90, 22, 0.55) 0%,
                rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(top,
                rgba(114, 90, 22, 0.55) 0%,
                rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to bottom,
                rgba(114, 90, 22, 0.55) 0%,
                rgba(0, 0, 0, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c725a16', endColorstr='#00000000', GradientType=0);
    }

    .alert-success {
        color: #3dff74;
        border-color: transparent;
        background: -moz-linear-gradient(top,
                rgba(0, 137, 39, 0.55) 0%,
                rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(top,
                rgba(0, 137, 39, 0.55) 0%,
                rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to bottom,
                rgba(0, 137, 39, 0.55) 0%,
                rgba(0, 0, 0, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6008927', endColorstr='#00000000', GradientType=0);
    }

    .alert-info {
        color: #6bb0ff;
        border-color: transparent;
        background: -moz-linear-gradient(top,
                rgba(30, 87, 153, 0.55) 0%,
                rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(top,
                rgba(30, 87, 153, 0.55) 0%,
                rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to bottom,
                rgba(30, 87, 153, 0.55) 0%,
                rgba(0, 0, 0, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c1e5799', endColorstr='#00000000', GradientType=0);
    }

    .floating-label {
        padding-top: 0.75rem;
        position: relative;
    }

    .floating-label label {
        -webkit-transform-origin: 0 0;
        color: #aaaaaa;
        display: block;
        font-size: 1rem;
        left: 0;
        line-height: 1.5;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 1.125rem;
        transform-origin: 0 0;
        transition-duration: 0.3s;
        transition-property: color, top, -webkit-transform;
        transition-property: color, top, transform;
        transition-property: color, top, transform, -webkit-transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .floating-label .custom-select,
    .floating-label .form-control,
    .floating-label .form-control-file {
        position: relative;
        padding-left: 0.5rem;
    }

    .custom-select,
    .form-control,
    .form-control-file {
        background-clip: padding-box;
        background-color: transparent;
        border: 1px solid #cccccc;
        border-radius: 0;
        border-width: 0 0 1px;
        box-shadow: none;
        color: inherit;
        display: block;
        font-size: 1rem;
        line-height: 1.5;
        padding: 0.375rem 0 calc(0.375rem - 1px);
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-text-fill-color: #dddddd !important;
        box-shadow: 0 0 0 30px #2a2f33 inset !important;
    }

    button,
    input {
        overflow: visible;
    }

    .floating-label label {
        transition-duration: 0.2s;
    }

    :focus {
        outline: -webkit-focus-ring-color auto 1px;
    }

    .floating-label.is-focused label {
        color: #dddddd;
    }

    .floating-label.has-value label,
    .floating-label.is-focused label {
        top: 0;
        transform: scale(0.75);
    }

    .custom-select:focus,
    .form-control-file:focus,
    .form-control:focus {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-color: #ffffff;
        box-shadow: none;
        outline: 0;
    }

    .custom-select:hover,
    .form-control-file:hover,
    .form-control:hover {
        border-color: #ffffff;
        box-shadow: none;
    }

    .form-check-inline {
        display: inline-flex;
        align-items: center;
        padding-left: 0;
        margin-right: 0.75rem;
        padding-top: 1rem;
    }

    .form-check-inline .form-check-input {
        position: static;
        margin-top: 0;
        margin-right: 0.3125rem;
        margin-left: 0;
        margin-top: 0.5rem;
    }

    .plus {
        display: inline-block;
        width: 17px;
        height: 17px;
        margin-bottom: -4px;
        background: linear-gradient(#ffffff, #ffffff),
            linear-gradient(#ffffff, #ffffff);
        background-position: center;
        background-size: 100% 1px, 1px 100%;
        background-repeat: no-repeat;
    }

    .crud-button {
        display: inline-block;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.1);
        border: none;
        font-size: 0.9rem;
        font-family: serif;
        text-decoration: none;
        text-align: center;
        width: 3.063rem;
        padding: 0.7rem 1rem;
    }

    .crud-button:hover {
        text-decoration: none;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .w-90 {
        width: 90% !important;
    }

    .w-32 {
        width: 32% !important;
    }

    .unimportant-text {
        color: #898989;
    }

    .list-inline {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .blog-post-title a {
        color: #dddddd;
        text-decoration: none;
    }

    .blog-post-title a:hover {
        color: #ffffff;
        text-decoration: none;
    }

    .img-thumbnail {
        padding: 0.25rem;
        background-color: transparent;
        border: none;
        max-width: 100%;
        height: auto;
    }

    .smaller {
        font-size: small;
    }

    .selection-box {
        .selection-box-header {

            .ball {
                font-size: 1.3rem;
            }

            .icons {
                margin-bottom: -0.75rem;
                margin-right: 3rem;
            }
        }

        .selection-box-content {
            .table {
                margin-bottom: 0.075rem;
            }
        }

        .selection-box-footer {
            background: -moz-linear-gradient(top, rgba(5, 10, 25, 0.8) 0%, rgba(5, 10, 25, 0) 100%);
            background: -webkit-linear-gradient(top, rgba(5, 10, 25, 0.8) 0%, rgba(5, 10, 25, 0) 100%);
            background: linear-gradient(to bottom, rgba(5, 10, 25, 0.8) 0%, rgba(5, 10, 25, 0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc050a19', endColorstr='#00050a19', GradientType=0);

            border-radius: 0.35rem 0.35rem 0 0;
            font-size: 1.2rem;
        }
    }

    .table {
        border-radius: 0.35rem;

        .ball {
            font-size: 1rem;
        }
    }

    .table-position {
        width: 1.5em;
        display: inline-block;
    }

    .table-position-difference {
        position: relative;
        display: inline-block;
        margin: 0;
    }

    .table-position-difference .fa-circle {
        font-size: 0.45rem;
    }

    .table-dark {
        color: #fff;
        background-color: rgba(5, 10, 25, 0.8);
    }

    .table-hover tbody tr:hover,
    .table-dark.table-hover tbody tr:hover {
        color: #fff;
        background-color: rgba(8, 18, 46, 0.8);
    }

    .table-dark th,
    .table-dark td,
    .table-dark thead th {
        border-color: #1a253c;
    }

    .table-dark.table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(5, 10, 25, 0.8);
    }

    tr.clickable-row {
        cursor: pointer;
    }

    .color-radio-buttons {
        @keyframes fade {

            0%,
            50% {
                opacity: 0;
                transform: scale(0);
            }
        }

        label {
            display: inline-block;
            margin-right: 0.2rem;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition: all 0.2s ease-in-out;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 1.6s;
        }

        .color-radio:checked+label {
            animation-play-state: paused;
        }

        label:before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            margin: 10px;
            background: white;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.117647) 0 0 16px 0,
                rgba(0, 0, 0, 0.239216) 0 16px 16px 0;
            transition: all 0.2s;
        }

        label:hover:before {
            box-shadow: rgba(0, 0, 0, 0.0784314) 0 0 20px 0,
                rgba(0, 0, 0, 0.239216) 0 20px 20px 0;
        }

        label:after {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            transform: scale(0);
        }

        .color-radio:checked+label:after {
            background: transparent;
            transition: all 0.5s;
            transform: scale(1);
        }

        .color-radio+label {
            left: -1200px;
            animation-delay: 0s;
        }

        .color-radio+label:before {
            transform: scale(0);
        }

        .color-radio:checked+label:before {
            transform: scale(1);
            transition: all 0.4s;
        }

        [type="radio"] {
            display: none;
        }
    }

    .critical-period {
        color: #62ff8f !important;
    }

    .critical-period:hover {
        color: #ffffff !important;
    }

    .short-period {
        color: #b9ffcd !important;
    }

    .short-period:hover {
        color: #ffffff !important;
    }

    .long-period {
        color: #afafaf !important;
    }

    .long-period:hover {
        color: #ffffff !important;
    }

    .competition-color {
        color: #5cc3ff;
    }

    .schedule-color {
        color: #5cffb4;
    }

    .qualification-bg-0 {
        background: -moz-linear-gradient(left, rgba(39, 45, 198, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(39, 45, 198, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        background: linear-gradient(to right, rgba(39, 45, 198, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80272dc6', endColorstr='#007db9e8', GradientType=1);
    }

    .qualification-bg-1 {
        background: -moz-linear-gradient(left, rgba(34, 113, 173, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(34, 113, 173, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        background: linear-gradient(to right, rgba(34, 113, 173, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#802271ad', endColorstr='#007db9e8', GradientType=1);
    }

    .qualification-bg-2 {
        background: -moz-linear-gradient(left, rgba(29, 147, 116, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(29, 147, 116, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        background: linear-gradient(to right, rgba(29, 147, 116, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#801d9374', endColorstr='#007db9e8', GradientType=1);
    }

    .qualification-bg-3 {
        background: -moz-linear-gradient(left, rgba(21, 107, 27, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(21, 107, 27, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        background: linear-gradient(to right, rgba(21, 107, 27, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80156b1b', endColorstr='#007db9e8', GradientType=1);
    }

    .descent-bg-0 {
        background: -moz-linear-gradient(left, rgba(183, 36, 39, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(183, 36, 39, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        background: linear-gradient(to right, rgba(183, 36, 39, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b72427', endColorstr='#007db9e8', GradientType=1);
    }

    .descent-bg-1 {
        background: -moz-linear-gradient(left, rgba(163, 32, 108, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(163, 32, 108, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        background: linear-gradient(to right, rgba(163, 32, 108, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80a3206c', endColorstr='#007db9e8', GradientType=1);
    }

    .descent-bg-2 {
        background: -moz-linear-gradient(left, rgba(128, 27, 137, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(128, 27, 137, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        background: linear-gradient(to right, rgba(128, 27, 137, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80801b89', endColorstr='#007db9e8', GradientType=1);
    }

    .descent-bg-3 {
        background: -moz-linear-gradient(left, rgba(94, 29, 145, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(94, 29, 145, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        background: linear-gradient(to right, rgba(94, 29, 145, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#805e1d91', endColorstr='#007db9e8', GradientType=1);
    }

    .team-name-long {
        display: block;
    }

    .team-name-short {
        display: none;
    }

    .game {
        // background-color: rgba(7, 14, 30, 0.8);
        background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(7, 14, 30, 0.9) 24%, rgba(7, 14, 30, 0.9) 79%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(7, 14, 30, 0.9) 24%, rgba(7, 14, 30, 0.9) 79%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(7, 14, 30, 0.9) 24%, rgba(7, 14, 30, 0.9) 79%, rgba(0, 0, 0, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);

        .row {
            margin-right: 0;
            margin-left: 0;
        }

        .game-team {
            font-size: 1.2rem;
            color: #dddddd;
            padding: 0.7rem;
            text-transform: uppercase;
        }

        .game-score {
            font-size: 1.7rem;
            color: #5cc3ff;
            padding: 0.7rem;
            font-family: "easports", sans-serif;

            .game-score-home,
            .game-halftime-score-home {
                border-right: 1px solid #aaaaaa;
            }

            .game-halftime-score-home,
            .game-halftime-score-away {
                font-size: 1rem;
                color: #cccccc;
            }
        }

        .game-schedule {
            font-size: 1.7rem;
            color: #5cffb4;
            padding: 0.7rem;
        }

        .game-currently-being-played {
            font-size: 1.7rem;
            color: #b991ff;
            padding: 0.7rem;
        }
    }

    .clickable-row.game:hover {
        cursor: pointer;
        background: -moz-linear-gradient(left, rgba(208, 228, 247, 0) 0%, rgba(0, 49, 110, 0.95) 24%, rgba(0, 49, 110, 0.95) 50%, rgba(43, 0, 118, 0.95) 50%, rgba(43, 0, 118, 0.95) 79%, rgba(135, 188, 234, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(208, 228, 247, 0) 0%, rgba(0, 49, 110, 0.95) 24%, rgba(0, 49, 110, 0.95) 50%, rgba(43, 0, 118, 0.95) 50%, rgba(43, 0, 118, 0.95) 79%, rgba(135, 188, 234, 0) 100%);
        background: linear-gradient(to right, rgba(208, 228, 247, 0) 0%, rgba(0, 49, 110, 0.95) 24%, rgba(0, 49, 110, 0.95) 50%, rgba(43, 0, 118, 0.95) 50%, rgba(43, 0, 118, 0.95) 79%, rgba(135, 188, 234, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00d0e4f7', endColorstr='#0087bcea', GradientType=1);

        .game-team {
            color: #ffffff;
        }

        .game-score {
            color: #99daff;
        }

        .game-schedule {
            color: #88fdc6;
        }

        .game-currently-being-played {
            color: #c5a3ff;
        }
    }

    .goals-cards {
        font-size: 1rem;
        margin-right: 0;
        margin-left: 0;
        border-radius: 0 0 0.25rem 0.25rem;
        background: -moz-linear-gradient(left, rgba(0, 49, 110, 0.95) 0%, rgba(0, 49, 110, 0.95) 50%, rgba(43, 0, 118, 0.95) 50%, rgba(43, 0, 118, 0.95) 100%);
        background: -webkit-linear-gradient(left, rgba(0, 49, 110, 0.95) 0%, rgba(0, 49, 110, 0.95) 50%, rgba(43, 0, 118, 0.95) 50%, rgba(43, 0, 118, 0.95) 100%);
        background: linear-gradient(to right, rgba(0, 49, 110, 0.95) 0%, rgba(0, 49, 110, 0.95) 50%, rgba(43, 0, 118, 0.95) 50%, rgba(43, 0, 118, 0.95) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f200316e', endColorstr='#f22b0076', GradientType=1);

        .balls {
            color: #ffffff;
        }
    }

    .card-yellow {
        background: rgb(255, 251, 27);
        background: -moz-linear-gradient(-45deg, rgba(255, 251, 27, 1) 0%, rgba(214, 211, 22, 1) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(255, 251, 27, 1) 0%, rgba(214, 211, 22, 1) 100%);
        background: linear-gradient(135deg, rgba(255, 251, 27, 1) 0%, rgba(214, 211, 22, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffb1b', endColorstr='#d6d316', GradientType=1);
        width: 0.95rem;
        height: 1.3rem;
        border: 1px solid #fffb00;
        border-radius: 0.1rem;
        margin-bottom: -0.3rem;
    }

    .card-yellow:hover {
        background-color: #6a6811;
    }

    .card-red {
        background: rgb(255, 44, 44);
        background: -moz-linear-gradient(-45deg, rgba(255, 44, 44, 1) 0%, rgba(211, 33, 33, 1) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(255, 44, 44, 1) 0%, rgba(211, 33, 33, 1) 100%);
        background: linear-gradient(135deg, rgba(255, 44, 44, 1) 0%, rgba(211, 33, 33, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2c2c', endColorstr='#d32121', GradientType=1);
        width: 0.95rem;
        height: 1.3rem;
        border: 1px solid #ff0000;
        border-radius: 0.1rem;
        margin-bottom: -0.3rem;
    }

    .card-red:hover {
        background-color: #d32121;
    }

    .first-schedule.app-bg:hover {
        background-color: rgba(255, 255, 255, 1);
    }

    .win {
        background: rgb(35, 194, 18);
        background: -moz-linear-gradient(top, rgba(35, 194, 18, 1) 0%, rgba(42, 142, 14, 1) 100%);
        background: -webkit-linear-gradient(top, rgba(35, 194, 18, 1) 0%, rgba(42, 142, 14, 1) 100%);
        background: linear-gradient(to bottom, rgba(35, 194, 18, 1) 0%, rgba(42, 142, 14, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23c212', endColorstr='#2a8e0e', GradientType=0);
    }

    .win:hover {
        background: #26cf13;
    }

    .draw {
        background: rgb(214, 214, 214);
        background: -moz-linear-gradient(top, rgba(214, 214, 214, 1) 0%, rgba(198, 198, 198, 1) 100%);
        background: -webkit-linear-gradient(top, rgba(214, 214, 214, 1) 0%, rgba(198, 198, 198, 1) 100%);
        background: linear-gradient(to bottom, rgba(214, 214, 214, 1) 0%, rgba(198, 198, 198, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#c6c6c6', GradientType=0);
    }

    .draw:hover {
        background: #ebebeb;
    }

    .lost {
        background: rgb(180, 14, 19);
        background: -moz-linear-gradient(top, rgba(180, 14, 19, 1) 0%, rgba(119, 9, 11, 1) 100%);
        background: -webkit-linear-gradient(top, rgba(180, 14, 19, 1) 0%, rgba(119, 9, 11, 1) 100%);
        background: linear-gradient(to bottom, rgba(180, 14, 19, 1) 0%, rgba(119, 9, 11, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b40e13', endColorstr='#77090b', GradientType=0);
    }

    .lost:hover {
        background: #c30f15;
    }

    .form {
        position: relative;
    }

    .form li {
        width: 1.6rem;
        height: 1.6rem;
        line-height: 1.7rem;
        text-align: center;
        color: #ffffff;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }

    .pl-25,
    .px-25 {
        padding-left: 0.75rem !important;
    }

    .pr-25,
    .px-25 {
        padding-right: 0.75rem !important;
    }

    .pb-25,
    .py-25 {
        padding-bottom: 0.75rem !important;
    }

    .pt-25,
    .py-25 {
        padding-top: 0.75rem !important;
    }

    .d-inline-flex.flex-wrap {
        a {
            background-color: rgba(5, 10, 25, 0.8);
            border-radius: 0.25rem;
        }

        a:hover {
            background-color: rgba(5, 10, 25, 0.4);
        }
    }

    .rule-teams {
        h4 span:hover {
            cursor: help;
        }
    }

    .font-size-large {
        font-size: large;
    }

    @media (max-width: 992px) {
        .game {
            .game-team {
                font-size: 1rem;
            }

            .game-score,
            .game-currently-being-played,
            .game-schedule {
                font-size: 1.1rem;
            }
        }
    }

    @media (max-width: 768px) {

        h3,
        .h3 {
            font-size: 1.1rem;
        }

        h5,
        .h5 {
            font-size: 0.8rem;
        }

        .game {
            .game-team {
                font-size: 0.9rem;
                text-transform: none;
            }

            .game-score,
            .game-currently-being-played,
            .game-schedule {
                font-size: 1rem;
            }
        }

        .goals-cards {
            font-size: 0.8rem;
        }
    }

    @media (max-width: 576px) {
        .card-header {
            font-size: 0.8rem;
        }

        .card-header .control-button {
            padding: 0.7rem 0.8rem;
        }

        .crud-button {
            font-size: 0.8rem;
        }

        .team-name-long {
            display: none;
        }

        .team-name-short {
            display: block;
        }

        .game {
            .game-team {
                text-transform: uppercase;
            }
        }
    }

    @media (max-width: 460px) {
        .card-header {
            font-size: 0.7rem;
        }

        .card-header .control-button {
            padding: 0.7rem 0.7rem;
        }

        .crud-button {
            font-size: 0.7rem;
            padding: 0.7rem 0rem;
            width: 2.5rem;
        }

        .plus {
            width: 15px;
            height: 15px;
        }

        .game {
            padding: 0.2rem 0;
        }
    }

    @media (max-width: 350px) {
        .card-header .control-button {
            padding: 0.7rem 0.3rem;
        }

        .card-header .row {

            .col-8 {
                padding-left: 0;
                padding-right: 0;
            }

            .col-4 {
                padding-right: 0;
            }
        }
    }
}
